dranzer-app/*.iml
dranzer-app/.gradle
dranzer-app/local.properties
dranzer-app/.idea/caches
dranzer-app/.idea/libraries
dranzer-app/.idea/modules.xml
dranzer-app/.idea/workspace.xml
dranzer-app/.idea/navEditor.xml
dranzer-app/.idea/assetWizardSettings.xml
dranzer-app/.idea
dranzer-app/.DS_Store
dranzer-app/build
dranzer-app/captures
dranzer-app/.externalNativeBuild
dranzer-app/.cxx
dranzer-app/local.properties
dranzer-app/.idea/gradle.xml
dranzer-app/.idea
